

.root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 48px;
    font-family: 'Nixie One', Verdana, sans-serif;
  }
}

.logo {
  width: 80px;
  height: 80px;
  margin: 30px;
}

.text {
  text-align: center;
  font-size: 22px;
  margin: 15px;
}

.cta {
  margin: 20px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transform: translateY(-3px);
  // box-shadow: 0 4px 17px rgba(black, 0.35);

  &:hover {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}

